- name: "PHP setup"
  hosts: lamp_servers
  become: true

  vars_prompt:
  - name: mysql_app_password
    prompt: "Enter application database password"
    private: yes

  tasks:
    - name: Install PHP + extensions
      apt:
        name: "{{ php_packages }}"
        state: present
        update_cache: yes
      notify: Restart Apache

    - name: Deploy PHP test page
      template:
        src: "{{ playbook_dir }}/../templates/index.php.j2"
        dest: "{{ document_root }}/index.php"
        owner: "{{ student_username }}"
        group: "{{ student_username }}"
        mode: "0644"
      notify: Reload Apache

  handlers:
    - name: Reload Apache
      service:
        name: apache2
        state: reloaded

    - name: Restart Apache
      service:
        name: apache2
        state: restarted

  post_tasks:
    - name: Verify PHP is served by Apache
      uri:
        url: "http://{{ ansible_host | default(inventory_hostname) }}/index.php"
        status_code: 200
